.userMenu {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.userName {
    margin-right: 8px;
}

.opened {
    position: absolute;
    top: 50px;
    right: 35px;
}